[package]
name = "convers_prompt"
version = "0.1.0"
edition = "2021"

[dependencies]
convers = "0.1.2"
eframe = "0.29.1"
egui = "0.29.1"
egui_extras = "0.29.1"
env_logger = "0.11.5"
single-instance = "0.3.3"
tokio = "1.41.0"
